@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #fff;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}