---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TitleSection from '../components/TitleSection.astro';

const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>
  <TitleSection title={"Latest projects"} />
  <TitleSection title={"My thougts"} />
  <h2>My awesome blog subtitle</h2>
</BaseLayout>