---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TitleSection from '../components/TitleSection.astro';
import ShortProject from '../components/ShortProject.astro';

const pageTitle = "Home page";
const allProjects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
---

<style>
  .listShortPost, .listShortProject {
      padding: 0px;
      list-style: none;
      margin: 0px;
  }
  .listShortProject {
      display: flex;
      column-gap: 20px;
  }
  p.about {
      line-height: 1.9em;
      padding: 40px 0px 20px;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p class="about">La première fois que j'ai mis le nez dans du code, c'était à la fac. Je m'étais alors juré de ne plus jamais y toucher de toute ma vie. Finalement c'est devenu mon métier, et ça fait 8 ans que je m'éclate à faire des sites, coder des petites apps, résoudre des problèmes. Si je ne suis pas derrière mon ordinateur, c'est que je suis en randonnée ou en train d'escalader avec des amis.</p>
  <TitleSection title={"Big projects"} />
  <TitleSection title={"Playground"} />
  <ul class="listShortProject">
    {allProjects.map((project: any) => <ShortProject url={project.url} title={project.frontmatter.title} image={project.frontmatter.image.url} />)}
  </ul>
  <TitleSection title={"Resume"} />
</BaseLayout>