---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    padding: 20px 0px;
    margin-top: 2rem;
  }
  footer .container {
    display: flex;
    width: 100%;
}
  footer .container .name {
    display: flex;
    margin: 0px;
    width: 100%;
  }
  footer .container .social {
    display: flex;
  }
  .social {
      border: 1px solid blue;
  }
</style>

<footer>
  <div class="container">
    <p class="name">Loïc Seguin</p>
    <div class="social">
      <Social platform="dribbble" username="Loic_Seguin" />
      <Social platform="github" username="SeguinLoic" />
    </div>
  </div>
</footer>