---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
  }
  .contactZone {
    display: flex;
  }
  .contactZone .name {
    margin: 0px;
  }
</style>

<footer>
  <div class="contactZone">
    <p class="name">Loïc Seguin</p>
    <Social platform="dribbble" username="Loic_Seguin" />
    <Social platform="github" username="SeguinLoic" />
  </div>
</footer>