---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<header>
    <div class="Logo">
        <p>Loïc S.</p>
    </div>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>