---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<header>
    <div class="Logo">
        <p>Loïc S.</p>
    </div>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
<style>
header {
    border: 1px solid red;
    display: flex;
}
.Logo {
    border: 1px solid blue;
    display: flex;
    align-items: center;
}
.Logo p {
    font-size: 20px;
    line-height: 1px;
    font-weight: 600;
    font-family: sans-serif;
}
</style>