---
const { title } = Astro.props
---

<h2 class="titleSection">{title}</h2>

<style is:global>
    h2.titleSection {
        font-size: 1.1em;
        font-family: 'Inter', sans-serif;
    }
</style>
